html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

// fonts
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

// .
.wrapper{
    padding: 0 4vw;
    max-width: 1220px;
    margin: 0 auto;
}