$color-black: #000;
$color-gray-1: #424242;
$color-gray-2: #f2f2f2;
$color-gray-3: #7f7f7f;
$color-white: #fff;
$color-accent: #228FCC;
$color-accent-light: #64B7E5;

$shadow-hover: 0px 2px 30px $color-accent;